/* footer */
.footer {
  background-color: #181818;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
}

.bios {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.column {
  flex: 1;
  padding: 10px;
}

.column + .column {
  border-left: 2px solid;
  padding-left: 20px;
}
.column img {
  max-width: 10rem;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  object-fit: cover;
}

